body {
  background-color: steelblue;
}

.App {
  text-align: center;
 
}

.pokeball {
  border: solid;
  border-radius: 50%;
  background: red;
}

.poke-box {
  border: solid;
  border-radius: 50%;
  width: 25%;
  height: 25%;
  font-size: 1.5rem;
  color: white;
  background-color: red;
}

.poke-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

input {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: green;
  border: outset greenyellow 1rem;
}

button {
  font-size: 2rem;
  border: outset 1rem red;
  border-radius: 25%;
  background-color: white;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

select {
  font-size: 2rem;
  background-color: honeydew;
  border: outset green 1rem;
}


