.header {
    border: outset red 2rem;
    border-radius: 25%;
    margin-bottom: 4%;
    background-color: white;
    font-size: 2rem;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link:hover {
    color: yellowgreen;
  }